{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />
<script src="{% static 'formula_one/js/contenttype-object.js' %}"></script>   

<div id="content" class="flex">
    <div id="changelist">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <span>Select {{ model }}</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for object in contenttype_object_list %}
                <tr
                    class="{% cycle 'row1' 'row2' %}"
                    onclick="getId('{{ object.id }}')"
                    style="cursor: pointer;"
                >
                    <th>{{ object.label }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if contenttype_object_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ contenttype_object_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ contenttype_object_list.number }} of {{ contenttype_object_list.paginator.num_pages }}.
            </span>
    
            {% if contenttype_object_list.has_next %}
                <a href="?page={{ contenttype_object_list.next_page_number }}">next</a>
                <a href="?page={{ contenttype_object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>    
</div>
